.windowCart {
    height: 95%;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: white;
    transition: 0.5s;
    padding-top: 60px;
    width:0%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  
  .windowCart a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(99, 98, 98);
    transition: 0.3s;
  }
  
  .windowCart a:hover {
    color: #3c07ff;
  }
  
  .windowCart .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 50px;
  }

  #popup_body{
    width:99%;
 z-index: 2;
 background-attachment: fixed;
  }
  #popup_nav{
    z-index: 2;
    display:flex;
    position:fixed;
    top:0;
    align-items:center;
    height: 90px;
    border-bottom: 1px solid grey;
    background-color:white;
  width: 100%;
  padding-left: 30px;
  justify-content:space-between;
  flex-direction:row;
  }
  #popup_nav img{
    width:25px;
    left: 0;
    margin-right: 30px
  }
  #popup_nav a>img{
   height: 10px;
   width: 10px;
  }
  #popup_nav>*{
    display: flex;
    margin-top: 30px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

  }
  #winFooter{
    z-index: 2;
    display: flex;
    margin:auto;
    position: absolute;
    text-align:center;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    margin-bottom: 50px;
    width: 100%;
    height: 250px;
    border-top: 1px solid black;
    background:white;
    padding:10px;
    text-align:start;
  }
  #winFooter button{
    display:flex;
    justify-content:center; 
    height:50px;
    width: 90%;
   align-items:center;
  background-color:blue;
  padding: 10px;
  color: white;
  font-weight: bold;
  border:none;
  border: 1px solid blue;
  border-radius: 25px;
  font-size: 17px
}
#winFooter>p{
  text-decoration: underline;
}
#winFooter>button+p{
  display: flex;
  width: 80%;
  margin:auto;
  text-decoration: none;
  align-items: center;
  margin-bottom: 100px;
}
  @media screen and (max-height: 550px) {
    .windowCart {padding-top: 15px;}
    .windowCart a {font-size: 18px;}

  }

   #cart_products{
    height:450px;
   margin-top: 30px;
   overflow:auto;
  }
  #cart_products>div{
    z-index: 0;
    display:flex;
  }
  #cart_products img{
    width:100px
  }
  #cart_products>div{
    display:flex;
    border-top: 1px solid rebeccapurple;
    flex-direction:column;
  }
  #cart_products>div>button{
height: 35px;
border-radius: 50px;
width: 90%;
margin:auto;
  }
  #cart_products>div>p:nth-child(3){
    text-decoration: line-through;
  }

  #cart_products>div>*{
    margin-left:40px;
  }
  #checkout>img{
    position: absolute;
    width: 20px;
    left:50px;
  } 
 
#closebtn{
  position: absolute;
  margin-left: 350px;
}