body{
    margin: 0px;
    padding: 0px;
}
#nj_slider-top{
    border: 0px solid red;
    margin-top: 30px;
    
}

#nj_slider-top > img{
    width: 100%;
}

#nj_container{
    border: 0px solid red;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.nj_card{
    border: 0px solid black;
    text-align: center;
    padding: 10px;
    color: #444444;
    background-color: #f7f7f7;
}

.nj_card > .nj_imgdiv{
    border: 0px solid blue;
    width: 100%;

}

.nj_card > .nj_imgdiv > img{
    width: 100%;
    height: 100%;
}

#nj_text-section{
    border: 0px solid red;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#nj_text-section > p{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#nj_text-section > h3{
    font-size: 28px;
    font-family: sans-serif;
}

#nj_finance-section{
    border: 0px solid red;
    height: 700px;
    margin-top: 25px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 27% 27%;
    gap: 30px;
    justify-content: center;
    background-color: #f5f5f5;
    padding-top: 20px;

}

#nj_finance-section > div{
    border: 0px solid red;
    height: auto;

}

#nj_finance-section > div > div{
    border: 0px solid red;
    display: flex;
    justify-content: center;
}

#nj_finance-section > div > h2{
    font-size: 25px;
    color: #444444;
}

#nj_finance-section > div > p{
    line-height: 25px;
    color: #7f8d8c;
}

#nj_flagship{
    border: 0px solid red;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
}

#nj_flagship > h1{
    font-size: 40px;
    text-align: center;
}

#nj_flagbtn{
    border: 0px solid red;
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#nj_flagbtn > button{
    width: 200px;
    height: 50px;
    background-color:#e6e6e6;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

#nj_productCard{
    border: 0px solid blue;
    margin-top: 10px;
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    
}

#nj_productCard > div{
    border: 0px solid red;
    text-align: center;
}

#nj_productCard > div > div{
    border: 0px solid black;
    text-align: center;
    /* height: 50%; */
    
}

#nj_productCard > div > div > img{
    width: 50%;
    /* height: 50%; */
}

.nj_mrp{
    text-decoration: line-through;
}


@media all and (min-width:481px) and (max-width:768px){
    #nj_slider-top{
        border: 0px solid red;
        margin-top: 30px;
        
    }
   
    #nj_container{
        border: 0px solid red;
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        gap: 25px;

    }

    #nj_finance-section{
        border: 0px solid red;
        height: auto;
        margin-top: 25px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 50% ;
        height: auto;
        gap: 30px;
        justify-content: center;
        background-color: #f5f5f5;
        padding-top: 20px;
    
    }

    #nj_flagbtn{
        border: 0px solid red;
        width: 90%;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 50%;
        gap: 10px;
        justify-content: space-around;
    }

    #nj_productCard{
        border: 0px solid blue;
        margin-top: 10px;
        display: grid;
        /* justify-content: space-evenly; */
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        
    }

}