body{
    margin:0;
    padding:0;
    max-width:100%;
    overflow-x: hidden;
}

/*  Navigation Bar */

#navigationBar {
    z-index: 2;
    height: 90px;
    position:sticky;
    display:flex;
    top:0;
    left:0;
    right:0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    align-items: center;
    align-items: center;
    background-color:white;
}



#dilivery-details{
width: 50%;
display:flex;
flex-direction:column;
position:relative;
left:50%;
top: 50px;
}
#dilivery-details>div{
    display:flex;
    justify-content: space-around;
    height:auto;
    border-bottom: 1px solid rgb(179, 167, 167);
    border-top: 1px solid rgb(165, 165, 165);
}
#dilivery-details>div>img{
width: 50px;
}
#mdata{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:repeat(2,1fr);
    margin-bottom:20px;
    margin-top:50px;
    gap:10px;
    padding:10px;
    }

    #mdata>img{
        padding:20px;
        height:150px;
        width: 150px;
    }

    #div1{
        display:flex;
      width:90%;
      font-weight: bold;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size:20px;
      margin-left: 50px;
   justify-content: space-around;
   color:rgb(74, 71, 71);
    }
    #div1>img{
        width:200px;
        height:180px;
    }

    #div2{
        width:70%;
        display:flex;
        justify-content:space-evenly;
       align-items: center;
       margin-left:50px;
       margin-top: 50px;
    }

    #div2>p{
        background-color:blue;
        color: white;
        font-weight:bold;
        font-size:15px;
        padding: 10px;
        border-radius:40px;
        text-align:center;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
    }

    #div3>div:nth-child(1){
  display: flex;
  width:85%;
  margin-left: 50px;
  align-items:center;
    }

    #div3>div:nth-child(1)>div>h2{
font-weight:bold;
font-size:30px;
color: rgb(91, 90, 90);
    }

    #div3>div:nth-child(2){
display: flex;
width:100%;
margin:auto;
margin-top: 70px;
    }

    #div3>div:nth-child(2)>img{
 width:230px;
    }  
    
    #div3>div:nth-child(2)>div{
        margin-right: 50px;
        color:rgb(91, 88, 88);

           }
    
 #div3>div:nth-child(2)>div>h4{
 font-weight: bold;
 }  
 
 #div3>div:nth-child(3){
width:50%;
margin:auto;
margin-top: 50px;
 }

 #div3>div:nth-child(3)>p{
border-bottom: 1px solid rgb(233, 227, 227);
 }

 #div3>div:nth-child(4){
    display:flex;
    background-color:rgb(240, 239, 239);
    width:95%; 
    margin:auto;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
}

 #div3>div:nth-child(4)>img{
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
 }

 #div3>div:nth-child(4)>div>h2{
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:rgb(81, 81, 81);
font-size: 30px;
}
#div3>div:nth-child(5){
    display: flex;

}
#div3>div:nth-child(5)>img{
width:30%;
padding:20px
}
#div3>div:nth-child(5)>div{
    width:40%;
    padding:20px
    }
#div3>div:nth-child(5)>div>button{
    display:flex;
width: 150px ;
height: 30px;
border-radius: 40px;
border: none;
background-color:blue;
color:aliceblue ;
font-weight: bold; 
padding:10px; 
text-align: center;
align-items: center;
justify-content: center;
margin-top: 20%;
margin:auto;
}

/*  */


#proImgData{
    display:flex;
    height:auto;
    width: 50%;
flex-direction:column;
padding-bottom: 25px;
}
#proImgData>div{
margin:auto;

}
#proImgData>div>img{
    width:60px;
    margin:auto;
    margin-left: 10px;

}
#proImgData>img{
    display:block;
    width:70%;
    margin:auto;
    margin-bottom: 50px;
}
#Aproduct{
    position:absolute;
left:50%;
top:120px;
width:44%;
height:auto;
padding:20px;
}
#Aproduct>*{
    margin-top: 20px;
}
#Aproduct>div{
    display: flex;
    width:100%;
    background-color:blue;
    color:white;
    border-radius:20px;
margin: auto;
}
#Aproduct>div>img{
    margin-left: 20px;
    margin-right: 50px;
}
#Aproduct div+button{
    width:100%;
    height:50px;
    border-radius:20px;
    background-color:blue;
    color:white;
    border: none;
    padding:5px;
    font-weight: bold;
    margin-top:30px;

}
#Aproduct button+button{
    width:100%;
    height:50px;
    border-radius:20px;
    background-color:rgb(165, 165, 167);
    color:white;
    border: none;
    padding:5px;
    font-weight: bold;
    margin-top:30px;

}
#proImgData>div>img:hover,.product div+button:hover,.product button+button:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#rating>img{
width:50px;
}
#mrp ,#sPrice, #sPrice+a{
    display:flex;
    align-items:center;
}
#mrp ,#sPrice{
   text-decoration: line-through; 
}
#sPrice+a{
font-weight: bold;
}
#offierPrice{
    color:blue;
    font-size:20px;
}
.product-name{
    font-size:30px;
    font-weight:bold;
    color:rgb(69, 69, 69);
    
}

#navbar {
    display:flex;
    z-index: 1;
  background-color: whitesmoke;
  position: fixed;
  top: 50px;
  width: 100%;
  height: 180px;
  transition: top 0.3s;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  flex-direction: row;
align-items: center;
justify-content: space-between;

}
#navbar>div{
    display: flex;
align-items: end;
margin-left: 50px;
align-items: center;
}
#navbar>div>a{
    display: flex;
    margin-top: 80px;
}
#navbar img {
width:100px;
height:100px;
margin-top:80px
}
#navbar button{
    margin-top: 80px;
    height:40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius:20px;
    border:none;
    color:white;
    background-color:blue;
    font-weight:bold;
    margin-right: 50px;
}
.div2_P{
    width: 85%;
    display: flex;
margin: auto;
}
.div2_P p{
    width:40%;
    margin-left: 50px;
}
.div2_Img{

display: flex;
flex-direction:column;
width: 70%;
height: auto;
margin: auto;
}

